---
import Layout from "../layouts/Layout.astro";
import Container from "../layouts/Container.astro";
import { allArticles } from "../helpers/blog";
import { Image } from "astro:assets";
---

<Layout title="Блог">
  <Container>
    <div class="flex flex-col items-center">
      <h1 class="mainTitle">Блог</h1>
      <div class="mt-10 flex justify-center">
        <ul
          class="grid grid-cols-1 justify-center gap-2 md:gap-3 lg:grid-cols-1 lg:gap-5 xl:gap-7"
        >
          {
            allArticles.map((article) => {
              return (
                <li class="flex gap-3 rounded-md bg-amber-100 dark:bg-slate-700">
                  <div class="shrink-0">
                    <a href="">
                      <Image
                        src={article.img}
                        alt={article.title}
                        class="h-27 w-27 shrink-0 rounded-md bg-orange-100"
                      />
                    </a>
                  </div>
                  <div class="flex flex-col justify-between">
                    <h5 class="text-sm font-medium text-gray-700 md:text-base dark:text-amber-600">
                      {article.title}
                    </h5>
                    <p class="text-xs text-gray-700 md:text-sm dark:text-amber-100">
                      {article.description}
                    </p>
                    <a href={article.url} class="my-button w-fit px-2 py-1">
                      Подробнее
                    </a>
                  </div>
                </li>
              );
            })
          }
          <!-- <li class="border border-amber-400 rounded-md bg-amber-50 flex gap-2">
            <a href="/blog/nastavleniya-sarahi" class="flex flex-row gap-2">
              <img src="../../public/blog/saraha.webp" alt="" class="rounded-md">
            </a>
            <div class="flex flex-col flex-start">
              <p class="text-center text-amber-700 text-sm">Наставления Сарахи</p>
              <p class="text-center text-amber-700 text-sm">Наставления великого йогина Сарахи ученику</p>
  
            </div>
          </li>
          <li class="border border-amber-400 rounded-md bg-amber-50">
            <a href="/blog/neoadvayta" class="flex flex-col gap-1 ">
              <img src="../../public/blog/neoadwayta.webp" alt="" class="rounded-md">
              <p class="text-center text-amber-700 text-sm">Неоадвайта</p>
            </a>
          </li> -->
        </ul>
      </div>
    </div>
  </Container>
</Layout>
