---
import Layout from "../layouts/Layout.astro"
import { allArticles } from "../helpers/blog"
---

<Layout title="Блог">
  <div class="main-container flex flex-col items-center">
    <h1 class="mainTitle">Блог</h1>
    <div class="flex justify-center mt-10">
      <ul class="grid grid-cols-1 gap-2 md:gap-3 lg:gap-5 xl:gap-7 justify-center">
        {allArticles.map((article) => {
            return <li class='flex gap-3 rounded-md bg-gray-50 dark:bg-slate-700'>
              <div class='shrink-0'>
                <a href="">
                  <img src={article.img} alt={article.title} loading='lazy' class='shrink-0 h-27 w-27 rounded-md bg-orange-100' />
                </a>
              </div>
              <div class='flex flex-col justify-between'>
                <h5 class='text-sm md:text-base font-medium text-gray-700 dark:text-amber-600'>{article.title}</h5>
                <p class='text-xs md:text-sm text-gray-700 dark:text-amber-100'>{article.description}</p>
                <a href={article.url} class='text-indigo-500 dark:text-amber-400'>Подробнее ...</a>
              </div>
            </li>
          })}
        <!-- <li class="border border-amber-400 rounded-md bg-amber-50 flex gap-2">
          <a href="/blog/nastavleniya-sarahi" class="flex flex-row gap-2">
            <img src="../../public/blog/saraha.webp" alt="" class="rounded-md">
          </a>
          <div class="flex flex-col flex-start">
            <p class="text-center text-amber-700 text-sm">Наставления Сарахи</p>
            <p class="text-center text-amber-700 text-sm">Наставления великого йогина Сарахи ученику</p>

          </div>
        </li>
        <li class="border border-amber-400 rounded-md bg-amber-50">
          <a href="/blog/neoadvayta" class="flex flex-col gap-1 ">
            <img src="../../public/blog/neoadwayta.webp" alt="" class="rounded-md">
            <p class="text-center text-amber-700 text-sm">Неоадвайта</p>
          </a>
        </li> -->
      </ul>
    </div>

  </div>
</Layout>
