---
import Layout from "../layouts/Layout.astro"
import { Image } from "astro:assets"
import map from  "../assets/maps/map.webp"
import map2 from  "../assets/maps/map2.webp"
import map3 from  "../assets/maps/map3.webp"
import map4 from  "../assets/maps/map4.webp"
import map5 from  "../assets/maps/map5.webp"
---

<Layout title="Контакты">
  <div class="main-container flex flex-col items-center">
    <h1 class="mainTitle">Контакты</h1>
    <div class="flex justify-center">
          <div class="mt-5 lg:mt-10 flex flex-col gap-5 justify-center items-start">
            <div class="flex items-center">
              <h5 class="dark:text-amber-600 text-gray-700 font-medium">
                Атмаприя:
                <a href="whatsapp://send?phone=+79163898998" target="_blank" rel="noreferrer" class=" dark:text-amber-400 text-indigo-700 hover:underline ml-2 font-light ">
                  написать в WhapsApp
                </a>
              </h5>
            </div>
        
            <div class="flex items-center">
              <h5 class="dark:text-amber-600 text-gray-700 font-medium">
                Тарамати:
                <a href="https://t.me/Shartatiana" target="_blank" rel="noreferrer" class="dark:text-amber-400 text-indigo-700 hover:underline ml-2 font-light">
                  написать в Telegram
                </a>
              </h5>
            </div>
          </div>
    </div>

    <h5 class="w-full text-center text-lg md:text-xl lg:text-2xl font-semibold mt-10 lg:mt-20 dark:text-amber-600">Наши ресурсы</h5>
    <div class="flex justify-center">
          <ul class="grid grid-cols-2 md:grid-cols-2 gap-5 lg:gap-10 justify-center items-start mt-10">
            <li class="dark:text-amber-400 text-indigo-700 hover:underline flex items-center">
              <!-- class -->
              <a href="https://www.youtube.com/@ShaktiMA_MDC" class="flex text-xs md:text-sm lg:text-md" target="_blank" rel="noreferrer">
                YouTube канал
              </a>
            </li>
            <li class="dark:text-amber-400 text-indigo-700 hover:underline  flex items-center">
              <!-- <FaTelegram class="mr-2 shrink-0" /> -->
              <a href="https://t.me/mdc_ShaktiMa" class="flex text-xs md:text-sm lg:text-md" target="_blank" rel="noreferrer">
                Telegram канал
              </a>
            </li>
            <li class="dark:text-amber-400 text-indigo-700 hover:underline  flex items-center">
              <!-- <FaTelegram class="mr-2 shrink-0" /> -->
              <a href="https://t.me/+GgiaV5DkPoE1OTBi" class="flex text-xs md:text-sm lg:text-md" target="_blank" rel="noreferrer">
                Telegram чат
              </a>
            </li>
            <li class="dark:text-amber-400 text-indigo-700 hover:underline  flex items-center">
              <!-- <FaGlobe class="mr-2 shrink-0" /> -->
              <a href="https://www.advayta.org/" class="flex text-xs md:text-sm lg:text-md" target="_blank" rel="noreferrer">
                Официальный сайт нашей традиции
              </a>
            </li>
            <li class="dark:text-amber-400 text-indigo-700 hover:underline  flex items-center">
              <!-- <FaGlobe class="mr-2 shrink-0" /> -->
              <a href="https://sharanam.advayta.org/" class="flex text-xs md:text-sm lg:text-md" target="_blank" rel="noreferrer">
                Вступить в традицию адвайты сиддхов
              </a>
            </li>
            <li class="dark:text-amber-400 text-indigo-700 hover:underline  flex items-center">
              <!-- <FaGlobe class="mr-2 shrink-0" /> -->
              <a href="https://vosdlife.org/" class="flex text-xs md:text-sm lg:text-md" target="_blank" rel="noreferrer">
                Сайт инструкторов ВОСД
              </a>
            </li>
            <li class="dark:text-amber-400 text-indigo-700 hover:underline  flex items-center">
              <!-- <FaGlobe class="mr-2 shrink-0" /> -->
              <a href="https://institute-vasishtha.com/" class="flex text-xs md:text-sm lg:text-md" target="_blank" rel="noreferrer">
                Институт Риши Васиштхи
              </a>
            </li>
            <li class="dark:text-amber-400 text-indigo-700 hover:underline  flex items-center">
              <!-- <FaGlobe class="mr-2 shrink-0" /> -->
              <a href="https://ramanatha.advayta.org/" class="flex text-xs md:text-sm lg:text-md" target="_blank" rel="noreferrer">
                Сайт монаха Раманатха Гири
              </a>
            </li>
            <li class="dark:text-amber-400 text-indigo-700 hover:underline  flex items-center">
              <!-- <FaShoppingCart class="mr-2 shrink-0" /> -->
              <a href="https://www.advayta.org/shop/" class="flex text-xs md:text-sm lg:text-md" target="_blank" rel="noreferrer">
                Наш интернет магазин
              </a>
            </li>
            <li class="dark:text-amber-400 text-indigo-700 hover:underline flex items-center">
              <!-- <FaShoppingCart class="mr-2 shrink-0" /> -->
              <a href="https://institute-vasishtha.com/shop/catalog/videokursy/yoga/69255/?oid=69268" class="flex text-xs md:text-sm lg:text-md" target="_blank" rel="noreferrer">
                Курс по упасане: сутра, бхаджан-мандала
              </a>
            </li>
          </ul>
        </div>

    <h5 id="address" class="w-full text-center text-lg md:text-xl lg:text-2xl font-semibold mt-10 lg:mt-20 dark:text-amber-600">Адрес</h5>

    <details class='w-full mt-5'>
      <summary class="text-center">Посмотреть на карте</summary>
      <div>
            <a href="https://yandex.ru/maps?whatshere%5Bpoint%5D=37.668904%2C55.774561&whatshere%5Bzoom%5D=18.819712&ll=37.669085762467624%2C55.77426729014845&z=18.819712&si=r7j7h7y8fjzvh7vpk1ybn5npj8"
            target="_blank"
            rel="noreferrer"
            class="w-full flex justify-center items-center gap-1 mt-5 p-3 dark:text-amber-400 text-indigo-700 hover:underline "
          >
            <p class="text-xs md:text-base lg:text-lg">Нижняя Красносельская улица, 40/12к2</p>
          </a>
      </div>
    </details>

    <details class='w-full mt-5'>
      <summary class="text-center">Как до кас добраться?</summary>
        <div class="w-full flex flex-col mt-2 p-2 text-sm bg-gray-100 dark:bg-slate-700 text-slate-700 dark:text-white rounded-md">
            <div class="flex flex-col gap-3 lg:gap-5 text-xs md:text-sm lg:text-md dark:text-amber-100">
              <Image src={map} alt="Студия йоги ШактиМа. Как до нас дойти пешком от метро." class="mt-2 rounded-lg" />
              <p><b class="dark:text-amber-600">От метро Бауманская.</b> Выходите из метро направо через дорогу и проходите сквозь торговые лавки на Нижнюю Красносельскую улицу. </p>
              <p><b class="dark:text-amber-600">От метро Красносельская.</b> Выходите из метро и идете вдоль дороги по Нижней Красносельской улице. </p>
              <Image src={map2} alt="Арка" class="rounded-lg lg:rounded-xl" />
              <p>Вход через ворота с улицы Нижняя Красносельская</p>
              <Image src={map3} alt="Арка" class="rounded-lg lg:rounded-xl w-full" />
              <p>Идете прямо</p>
              <Image src={map4} alt="Арка" class="rounded-lg lg:rounded-xl w-full" />
              <p>Доходите до конца здания и поворичиваете направо. Затем, идете до конца и налево.</p>
              <Image src={map5} alt="Арка" class="rounded-lg lg:rounded-xl" />
              <p>Намасте! И добро пожаловать.</p>
            </div>
        </div>
    </details>
  

  </div>
</Layout>