---
import Layout from "../layouts/Layout.astro";
import Container from "../layouts/Container.astro";
import { allFoto } from "../helpers/gallery";
import { Image } from "astro:assets";
---

<Layout title="Галерея">
  <Container>
    <h1 class="mainTitle">Галерея</h1>
    <div class="mt-10 flex justify-center">
      <ul class="grid grid-cols-1 justify-center gap-5 xl:gap-7">
        {
          allFoto.map((article) => {
            return (
              <li class="flex gap-3 rounded-md bg-amber-100 dark:bg-slate-700">
                <div class="shrink-0">
                  <a href="">
                    <Image
                      src={article.img}
                      alt={article.title}
                      inferSize
                      class="h-27 w-27 shrink-0 rounded-md bg-orange-100"
                    />
                  </a>
                </div>
                <div class="flex flex-col justify-between p-1">
                  <h5 class="text-sm font-medium text-gray-700 md:text-base dark:text-amber-600">
                    {article.title}
                  </h5>
                  <p class="overflow-hidden text-xs text-gray-700 md:text-sm dark:text-amber-100">
                    {article.description}
                  </p>
                  <a href={article.url} class="my-button w-fit px-2 py-1">
                    Подробнее
                  </a>
                </div>
              </li>
            );
          })
        }
      </ul>
    </div>
  </Container>
</Layout>
