---
import Layout from "../layouts/Layout.astro"
import { upasana } from "../helpers/upasana"
import { Image } from "astro:assets"
---

<Layout title="Упасана">
  <div class="main-container">
    <h1 class="mainTitle">Упасана</h1>
    <h2 class="w-full text-center">Практика у алтаря</h2>
    <!-- <div class="flex justify-center mt-10">
      <ul class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-2 md:gap-3 lg:gap-5 xl:gap-7 justify-center">
        <li class="border border-amber-400 rounded-md bg-amber-50">
          <a href="/upasana/sutra" class="flex flex-col gap-1 ">
            <img src="../../public/upasana/sutra.webp" alt="" class="size-40 shrink-0">
            <p class="text-center text-amber-700 text-sm">Сутра</p>
          </a>
        </li>
        <li class="border border-amber-400 rounded-md bg-amber-50">
          <a href="#" class="flex flex-col gap-1 ">
            <img src="../../public/upasana/bm-ponedelnik.webp" alt="" class="size-40 shrink-0">
            <p class="text-center text-amber-700 text-sm">Пуджа Шиве</p>
          </a>
        </li>
        <li class="border border-amber-400 rounded-md bg-amber-50">
          <a href="#" class="flex flex-col gap-1 ">
            <img src="../../public/upasana/bm-vtornik.webp" alt="" class="size-40 shrink-0">
            <p class="text-center text-amber-700 text-sm">Пуджа Даттатрее</p>
          </a>
        </li>
        <li class="border border-amber-400 rounded-md bg-amber-50">
          <a href="#" class="flex flex-col gap-1 ">
            <img src="../../public/upasana/bm-vishnu.webp" alt="" class="size-40 shrink-0">
            <p class="text-center text-amber-700 text-sm">Пуджа Вишну</p>
          </a>
        </li>
        <li class="border border-amber-400 rounded-md bg-amber-50">
          <a href="#" class="flex flex-col gap-1 ">
            <img src="../../public/upasana/bm-guru.webp" alt="" class="size-40 shrink-0">
            <p class="text-center text-amber-700 text-sm">Пуджа Гуру</p>
          </a>
        </li>
          <li class="border border-amber-400 rounded-md bg-amber-50">
          <a href="#" class="flex flex-col gap-1 ">
            <img src="../../public/upasana/bm-shakti.webp" alt="" class="size-40 shrink-0">
            <p class="text-center text-amber-700 text-sm">Пуджа Шакти</p>
          </a>
        </li>
        </li>
          <li class="border border-amber-400 rounded-md bg-amber-50">
          <a href="#" class="flex flex-col gap-1 ">
            <img src="../../public/upasana/bm-siddhi.webp" alt="" class="size-40 shrink-0">
            <p class="text-center text-amber-700 text-sm">Пуджа сиддхам</p>
          </a>
        </li>
       </li>
          <li class="border border-amber-400 rounded-md bg-amber-50">
          <a href="#" class="flex flex-col gap-1 ">
            <img src="../../public/upasana/datta-sadhana.webp" alt="" class="size-40 shrink-0">
            <p class="text-center text-amber-700 text-sm">Садхана Даттатрее</p>
          </a>
        </li>
        </li>
          <li class="border border-amber-400 rounded-md bg-amber-50">
          <a href="#" class="flex flex-col gap-1 ">
            <img src="../../public/upasana/pancha-ratna-pranama-mantra.webp" alt="" class="size-40 shrink-0">
            <p class="text-center text-amber-700 text-sm">Мантра пяти прибежищ</p>
          </a>
        </li>
        </li>
          <li class="border border-amber-400 rounded-md bg-amber-50">
          <a href="#" class="flex flex-col gap-1 ">
            <img src="../../public/upasana/achamana.webp" alt="" class="size-40 shrink-0">
            <p class="text-center text-amber-700 text-sm">Ачамана</p>
          </a>
        </li>
      </ul>
    </div> -->
    <div class="w-full flex justify-center mt-10">
        <ul class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-4 gap-2 md:gap-3 lg:gap-5 xl:gap-7 justify-center">
          {upasana.map((sadhana) => (
            <li class="border border-amber-400 rounded-md bg-amber-50 flex flex-col gap-1 ">
              <a href={`/upasana/${sadhana.id}`} class="">
                <Image src={sadhana.img} alt={sadhana.title} class="size-80 shrink-0" />
              </a>
              <a href={`/upasana/${sadhana.id}`} class="text-center text-amber-700 text-sm">
                {sadhana.title}
              </a>
            </li>
          ))}
        </ul>
    </div>
  </div>
</Layout>